
<center>
<h1 id="adminLkTittle">{{user}}</h1>

<div class="container">
<div id="teaSorts">
  {{!-- {{#each body_text}} --}}
  <li class="list-group-item list-group-item-info">Сорта чая</li>
{{!-- {{/each}} --}}
</div>
<div id="usersList">
  <h3>Список пользователей</h3>
    {{!-- {{#each user}} --}}
<ul class="list-group">
  <li class="list-group-item list-group-item-success"  >{{user}}<input type="checkbox" name="ban_unBan" id="ban_unBan"></li>
  
    {{!-- {{/each}} --}}
</ul>
</div>
  </div>
</div>







</center>


