
<center>
<h1 id="adminLkTittle">{{userLogin}}</h1>


</center>

<div class="container">
<div id="teaSorts">
  <li class="list-group-item list-group-item-info">A simple info list group item</li>
    <li class="list-group-item list-group-item-info">A simple info list group item</li>
      <li class="list-group-item list-group-item-info">A simple info list group item</li>
        <li class="list-group-item list-group-item-info">A simple info list group item</li>
          <li class="list-group-item list-group-item-info">A simple info list group item</li>
            <li class="list-group-item list-group-item-info">A simple info list group item</li>
              <li class="list-group-item list-group-item-info">A simple info list group item</li>
</div>
<div id="usersList">
  <h3>Список пользователей</h3>
<ul class="list-group">
  <li class="list-group-item list-group-item-success">A simple success list group item</li>
  <li class="list-group-item list-group-item-danger">A simple danger list group item</li>
</ul>
</div>
  </div>
</div>
