<script defer src="/js/comment.js"></script>
<center>
 

  
<div class="card" style="width: 18rem;">
  
    <h3>{{value.tea_name}}</h3>
    
  <img src=/{{value.img}} class="card-img-top">
  <h2>{{value.description}}</h2>
</div>
   
  
 


  


<div class="container" id="comments">
  <h2 id="textComment">
  </h2>
</div>
<form name='addComment'id='addComment' >
  <input type="text" name="commnet" id="commentInp"><br>
  <button type="submit" id="addB">Добавить</button>
</form>



</center>


