<center>
 

  
<div class="card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{tea_name}}</h5>
    {{!-- <p class="card-text">{{tea_Name}}</p> --}}
    <a href="#" class="btn btn-primary">Оставить комментарий</a>
  </div>
    <div class="discription">




   </div>


</div>





</center>


