<center>
 

  
<div class="card" style="width: 18rem;">
      <h3>
        Чай
      </h3>
  <img src="../public/img/carcade.jpg" class="card-img-top">
  <div class="card-body">

    <a href="#" class="btn btn-primary">Оставить комментарий</a>
</div>
</div>
   
  
 


  


<div class="container" id="comments">
  <h2 id="textComment">commnetscommnetscommnetscommnetscommnetscommnetscommnetscommnetscommnetscommnetscommnetscommnetscommnetscommnets
    commnetscommnetscommnetscommnetscommnetscommnetscommnetscommnetscommnetscommnetscommnetscommnetscommnetscommnets
    commnetscommnetscommnetscommnetscommnetscommnetscommnetscommnets
  </h2>
</div>
<form name='addComment' >
  <input type="text" name="commnet" id="commentInp"><br>
  <button type="submit" id="addB">Добавить</button>
</form>



</center>


