<div class="card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Каркаде</h5>
    <p class="card-text">{{Tea.img}}</p>
    <button name='teaComment'>Комментарий</button>
  </div>
    
</div>

