/* body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
} */


a {
  color: #00B7FF;
}

#tittleId {
  margin-top: 3%;
}

#yandex {
  display: flex;
  justify-content: center;
  /* margin: 12%; */
  border: solid;
  padding: 200px ;
  

}
